* {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;

}

/* header and nav title work */
.header{
    background-color: #FFFFFF;
    background-image: url(../demo-passing1/images/header_bg.png);
     
}
.text-primary {
  color: #FD6E0A;
}

nav {
  display: flex;
  margin: 50px 200px;
  justify-content: space-between;



}

nav ul {
  display: flex;
  align-items: center;


}

nav li {
  list-style: none;
  margin-left: 50px;
  margin-top: 20px;
}

.nav-title {
  width: 121px;
  height: 61px;
}

.btn-primary {
  width: 150px;
  height: 64px;
  background: #FD6E0A;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  padding: 18px 35px;
  
}

.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
 
}

.banner-title {
  font-size: 45px;
  font-weight: 400;
  color: #474747;
  margin-bottom: 20px;

}

.banner-sub-title {
  font-weight: 600;
  font-size: 60px;
  color: #181818;
  margin-bottom: 15px;
}
.banner-description{
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 20px;
}